.skillsList {
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;
    margin: auto;
}

.about-text {
    font-size: 1.3rem;
}

.gvu-logo {
    width: 50%;
}

.dev-logo {
    width: 35%;
}