.main {
    background: url("/planet.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

.header-main {
    padding: 50px 15px;
    color: white;
    align-content: center;
    height: 500px;
}

h1:after {
    content: ""; 
    display: block;
    margin: 0 auto; 
    width: 40%; 
    padding-top: 20px; 
    border-bottom: 1px solid white; 
    border-bottom-width: 5px;
}

.header-text {
    line-height: 1.2;
    font-size: 2.2rem;
    padding-left: 17px;
}


@media screen and (max-width: 990px) {
    .header-text{
        margin-top: 50px;
    }
}