.login-main {
    height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(11,92,181,0.7259103470489758) 2%, rgba(0,212,255,1) 100%); 
}

.login-form {
    padding: 40px;
    border: 1px black solid;
    width: 500px;
    height: 300px;
    border-radius: 5px;
    background-color: #ffffff;
}
