.img-logo {
    width: 30%;
    height: 50%;
}

#top-menu {
    margin: auto;
}

.link {
    font-size: 1.3rem;
    margin-right: 100px;
    color: rgb(31, 53, 53);
}

.active-link {
    color: rgb(118, 74, 240);
}